<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="action-wrapper" ng-if="isLoggedIn()">
		<button class="btn btn-fab btn-raised btn-primary" ng-click="openUserDeviceModal(null)"><i class="mdi-content-add"></i><div class="ripple-wrapper"></div></button>
		<button class="btn btn-fab btn-raised btn-primary" ng-click="onDelete()"><i class="mdi-action-delete"></i><div class="ripple-wrapper"></div></button>
	</div>

	<div class="device-history">
		<div class="row">
			<div class="col-md-2 col-sm-3 col-xs-2">
				<img class="gravatar-img" gravatar-src="user.email" gravatar-type="img" gravatar-size="200"/>
			</div>
			<div class="col-md-10 col-sm-9 col-xs-10 history-table-container">
				<h3><span>{{user.name}}'s<span> Device History</h3>
				<table class="table table-hover">
					<thead>
					</thead>
					<tbody>
						<tr ng-repeat="userDevice in userDevices" data-id="{{userDevice._id}}">
							<td ng-if="isLoggedIn()"><div class="checkbox"><label><input type="checkbox" name="{{userDevice._id}}" ng-model="selected.device" ng-change="onToggle(userDevice)"/></label></div></td>
							<td>{{userDevice.name}}</td>
							<td>{{userDevice.startedOn}}</td>
							<td><span ng-if="userDevice.endedOn">{{userDevice.endedOn}}</span><span ng-if="!userDevice.endedOn">Active</span></td>
							<td ng-if="isLoggedIn()"><i class="mdi-image-edit" ng-click="openUserDeviceModal(userDevice)"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div ng-include="'app/user/device/userdevice_form.html'"></div>

<script>
	$.material.init();
</script>