<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<div class="action-wrapper" ng-if="isLoggedIn()">
		<button class="btn btn-fab btn-raised btn-primary" ng-click="openUserModal(null)"><i class="mdi-content-add"></i><div class="ripple-wrapper"></div></button>
		<button class="btn btn-fab btn-raised btn-primary" ng-click="onDelete()"><i class="mdi-action-delete"></i><div class="ripple-wrapper"></div></button>
	</div>

	<div class="user-list">
		<div class="user shadow-z-5" ng-repeat="user in users">
			<div class="img-wrapper">
				<img gravatar-src="'{{user.email}}'" gravatar-size="250"/>
				<div class="img-overlay"></div>
				<div ng-if="isLoggedIn()" class="icon-wrapper">
					<i class="mdi-image-edit" ng-click="openUserModal(user)"></i>
				</div>
				<div class="user-name">
					<div ng-if="isLoggedIn()" class="checkbox"><label><input type="checkbox" name="{{user._id}}" ng-model="selected.user" ng-change="onToggle(user)"/></label></div>
					<p>{{user.name}}</p>
				</div>
			</div>
			<div class="user-info">
				<div class="info-item">
					<i class="mdi-content-mail"></i>
					<span>{{user.email}}</span>
				</div>
				<div class="info-item">
					<i class="mdi-hardware-laptop-mac"></i>
					<span ng-show="user.device">{{user.device}}</span><span ng-hide="user.device">N/A</span>
				</div>
				<div class="info-item">
					<i class="mdi-notification-event-available"></i>
					<span ng-show="user.leavesAllowed">{{user.leavesAllowed}}</span><span ng-hide="user.leavesAllowed">N/A</span>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div ng-include="'app/user/user_form.html'"></div>

<script>
	$.material.init();
</script>