.user-list .user {
	display: inline-block;
	margin-left: 2%;
	width: 49%;
	vertical-align:top;
	margin-bottom: 20px;
}

.user-list .user:nth-child(2n+1) {
	margin-left: 0px;
}

.user-list .user .wrapper {
	display:table;
	height:190px;
	width:100%;
}

.user-list .user .wrapper .user-info,
.user-list .user .wrapper .img-wrapper {
	display:table-cell;
	vertical-align: top;
}

.user-list .user .wrapper .img-wrapper {
	position:relative;
	width:35%;
	height:100%;
}

.user-list .user .wrapper .img-wrapper img {
	width:100%;
	height:100%;
}

.user-list .user .wrapper .user-info {
	width: 65%;
	height:100%;
}

.user-list .user .img-wrapper .img-overlay {
	width:100%;
	height:100%;
	position:absolute;
	top:0px;
	height:100%;
	width:100%;
	background-color: #000;
	opacity: 0.3;
}

.user-list .user .img-wrapper .icon-wrapper {
	position:absolute;
	top:10px;
	right: 10px;
	color: #fff;	
}

.user-list .user .img-wrapper .icon-wrapper i {
	cursor: pointer;
}

.user-list .user .info-item {
	padding: 7px;
}

.user-list .user .info-item i, 
.user-list .user .info-item > span {
	display:inline-block;
	vertical-align: middle;
}

.user-list .user .info-item .username {
	font-size: 18px;
	font-weight: normal;
	width: 100%;
	border-bottom:1px solid #ccc;
	padding-bottom: 10px;
	margin-left: 3px;
}

.action-wrapper {
	position:fixed;
	bottom: 30px;
	right: 55px;
}

.action-wrapper .btn {
	margin-right: 10px;
}

.modal-header {
	padding-bottom: 24px !important;
}

.checkbox {
	margin:0px;
	padding:0px;
	margin-left:2px;
}

.checkbox-material {
	margin-right: 5px;
}

.gravatar-img {
	width:100%;
	height:100%;
	background-position: center;
}