.user .checkbox {
	margin:0px;
	padding:0px;
	margin-left:2px;
}

.user .checkbox-material {
	margin-right: 5px;
}

.user .info-item {
	margin: 8px 0px;
}

.user .info-item .username {
	margin-top:18px;
	font-size: 18px;
	font-weight: normal;
	width: 100%;
	border-bottom:1px solid #ccc;
	padding-bottom: 10px;
	margin-left: 3px;
}

.user .info-item i, 
.user .info-item > span {
	display:inline-block;
	vertical-align: middle;
}

.user-row .user {
	margin-bottom: 20px;
}

.user .user-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.user .user-info,
.user .user-img {
	height: 200px;
}