<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<div class="action-wrapper" ng-if="isLoggedIn()">
		<button class="btn btn-fab btn-raised btn-primary" ng-click="openUserModal(null)"><i class="mdi-content-add"></i><div class="ripple-wrapper"></div></button>
		<button class="btn btn-fab btn-raised btn-primary" ng-click="onDelete()"><i class="mdi-action-delete"></i><div class="ripple-wrapper"></div></button>
	</div>

	<div class="user-list">
		<div class="user shadow-z-2" ng-repeat="user in users">
			<div class="wrapper">
				<div class="img-wrapper">
					<div class="gravatar-img" gravatar-src="'{{user.email}}'" gravatar-size="200"> </div>
					<div class="img-overlay"></div>
					<div ng-if="isLoggedIn()" class="icon-wrapper">
						<i class="mdi-image-edit" ng-click="openUserModal(user)"></i>
					</div>
				</div>
				<div class="user-info">
					<div class="info-item">
						<div ng-if="isLoggedIn()" class="checkbox username"><label><input type="checkbox" name="{{user.id}}" ng-model="selected.user" ng-change="onToggle(user)"/>{{user.name}}</label></div>
						<span ng-if="!isLoggedIn()" class="username">{{user.name}}</span>
					</div>
					<div class="list-group-separator"></div>
					<div class="info-item">
						<i class="mdi-content-mail"></i>
						<span>{{user.email}}</span>
					</div>
					<div class="info-item">
						<i class="mdi-hardware-laptop-mac"></i>
						<span ng-if="user.device">{{user.device.name}} ({{user.device.mac}})</span><span ng-if="!user.device">N/A</span>
					</div>
					<div class="info-item">
						<i class="mdi-action-history"></i>
						<span><a href="/users/{{user._id}}/history">Device History</a></span>
					</div>
					<div class="info-item">
						<i class="mdi-notification-event-available"></i>
						<span ng-if="user.leavesAllowed">{{user.leavesAllowed}}</span><span ng-if="!user.leavesAllowed">N/A</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div ng-include="'app/user/list/userform.html'"></div>

<script>
	$.material.init();
</script>