<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

	<div class="action-wrapper" ng-if="isLoggedIn()">
		<button class="btn btn-fab btn-raised btn-primary" ng-click="openUserModal(null)"><i class="mdi-content-add"></i><div class="ripple-wrapper"></div></button>
		<button class="btn btn-fab btn-raised btn-primary" ng-click="onDelete()"><i class="mdi-action-delete"></i><div class="ripple-wrapper"></div></button>
	</div>

	<div class="row user-row" ng-repeat="cols in rows">
		<div class="col-md-6 col-sm-6 col-xs-12 user" ng-repeat="user in cols">
			<div class="row shadow-z-2" style="margin-right:0px">
				<div class="col-md-4 col-sm-4 col-xs-4 user-img"><img gravatar-src="'{{user.email}}'" gravatar-size="200"/></div>
				<div class="col-md-8 col-sm-8 col-xs-8 user-info">
					<div class="info-item">
						<div ng-if="isLoggedIn()" class="checkbox username"><label><input type="checkbox" name="{{user.id}}" ng-model="selected.user" ng-change="onToggle(user)"/>{{user.name}}</label></div>
						<span ng-if="!isLoggedIn()" class="username">{{user.name}}</span>
					</div>
					<div class="list-group-separator"></div>
					<div class="info-item">
						<i class="mdi-content-mail"></i>
						<span>{{user.email}}</span>
					</div>
					<div class="info-item">
						<i class="mdi-hardware-laptop-mac"></i>
						<span ng-if="user.device">{{user.device.name}} ({{user.device.mac}})</span><span ng-if="!user.device">N/A</span>
					</div>
					<div class="info-item">
						<i class="mdi-action-history"></i>
						<span><a href="/users/{{user._id}}/history">Device History</a></span>
					</div>
					<div class="info-item">
						<i class="mdi-notification-event-available"></i>
						<span ng-if="user.leavesAllowed">{{user.leavesAllowed}}</span><span ng-if="!user.leavesAllowed">N/A</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<div ng-include="'app/user/list/userform.html'"></div>

<script>
	$.material.init();
</script>